@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="habilidades-container">
    <div class="row justify-content-md-center text-center">

        <div class="col-md-4 bg-white habilidad-card" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <div class="card-content">
                <i class="bi bi-database card-icon"></i>
                <h3>Back-End</h3>
                <p class="descripcion-general">
                    Desarrollo y despliegue de APIs robustas, servicios web
                    y lógica de negocio confiable, asegurando la integración eficiente con bases de datos y
                    otros sistemas, siempre priorizando la seguridad, el rendimiento y la escalabilidad.
                </p>

                <h4>Bases de Datos</h4>
                <ul class="lista-simple">
                    <li>SQL Server</li>
                    <li>SQLite</li>
                    <li>PostgreSQL</li>
                    <li>Firebase</li>
                </ul>

                <h4>Lenguajes y Plataformas</h4>

                <h5>C# con .NET</h5>
                <ul>
                    <li>
                        <strong>ASP.NET Core</strong>
                        <span class="descripcion">Para crear Web APIs y servicios</span>
                    </li>
                    <li>
                        <strong>Entity Framework Core</strong>
                        <span class="descripcion">Para la conexión con bases de datos</span>
                    </li>
                </ul>
                <h5>Kotlin</h5>
                <ul>
                    <li>
                        <strong>Ktor</strong>
                        <span class="descripcion">Construcción de APIs y microservicios escalables y asíncronos usando Kotlin </span>
                    </li>
                </ul>
                <h5>JavaScript</h5>
                <ul>
                    <li>
                        <strong>Node.js</strong>
                        <span class="descripcion">Implementación de servidores y aplicaciones 
                            backend eficientes y ligeros con JavaScript </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 bg-white habilidad-card" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <div class="card-content">
                <i class="bi bi-code-slash card-icon"></i>
                <h3>Front-End</h3>
                <p class="descripcion-general">
                    Desarrollo de interfaces modernas e intuitivas garantizando experiencias de usuario
                    eficientes y alineadas con los objetivos del negocio, 
                    aplicando buenas prácticas de diseño, optimización y accesibilidad.
                </p>

                <h4>Fundamentos</h4>
                <ul class="lista-simple">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>XML</li>
                </ul>

                <h4>Frameworks y Librerías</h4>

                <h5>Desarrollo Web</h5>
                <ul>
                    <li>
                        <strong>Kotlin (Compose for web)</strong>
                        <span class="descripcion">Desarrollo de interfaces multiplataforma de paginas web</span>
                    </li>
                    <li>
                        <strong>Blazor (C#)</strong>
                        <span class="descripcion">Creación de interfaces web modernas con .NET</span>
                    </li>
                    <li>
                        <strong>React (JavaScript/TypeScript)</strong>
                        <span class="descripcion">Desarrollo de aplicaciones interactivas del lado del cliente</span>
                    </li>              
                </ul>

                <h5>Desarrollo Móvil</h5>
                <ul>
                    <li>
                        <strong>Jetpack Compose (Kotlin)</strong>
                        <span class="descripcion">Desarrollo de interfaces móviles modernas, eficientes y totalmente nativas para Android</span>
                    </li>
                    <li>
                        <strong>Flutter (Dart)</strong>
                        <span class="descripcion">Creación de aplicaciones móviles multiplataforma</span>
                    </li>

                </ul>

                <h5>Desarrollo de Escritorio</h5>
                <ul>
                    <li>
                        <strong>C# Windows Forms</strong>
                        <span class="descripcion">Creación de aplicaciones de escritorio para entorno Windows</span>
                    </li>
                    <li>
                        <strong>Kotlin (Compose for Desktop)</strong>
                        <span class="descripcion">Desarrollo de interfaces multiplataforma de escritorio</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>