@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">JUAN DAVID CASTAÑO HOYOS</h1>
    <h2>
        Tecnólogo en Desarrollo de Software
    </h2>
</div>
<div class="imagen-perfil">
    <img src="~/imagenes/foto2.webp" alt="Desarrollador" />
</div>

<div class="text-center">
    <img id="image-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy un desarrollador de software multiplataforma, apasionado por la creación de aplicaciones 
            intuitivas y agradables, ya sea web, móvil o de escritorio. Tengo experiencia práctica 
            con Kotlin, Jetpack Compose, C#, .NET, ASP.NET Core 9, Flutter, Java, JavaScript, HTML, CSS y 
            manejo bases de datos relacionales y NoSQL como SQL Server, SQLite, PostgreSQL y Firebase.
            Me encanta explorar nuevas tecnologías, trabajar con buenas prácticas como Clean Architecture 
            y colaborar en equipos multidisciplinarios. Programar para mí es convertir ideas en soluciones
            reales que puedan mejorar la vida de otros.
        </p>
    </div>

</div>