
@{
    ViewData["Title"] = "Gracias";
}

<h1 class="my-4">¡Gracias por contactarme!</h1>
<p>He recibido tu mensaje y me pondré en contacto contigo lo antes posible.</p>
<div class="mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al Inicio</a>
